{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="profile_page">
    <div id="user_status">
        <h2>{{ User.username }}</h2>
        <p class="followBtn">{{User.introduction}}</p>
        {% if request.user.id == User.id %}
        <a href="{% url 'accounts:edit' %}" class="btn btn-primary">編集する</a>
        {% endif %}
    </div>
    <div id="user_post">
        <!--<p class="list-t">{{ User.username }}さんの投稿一覧</p>-->
    </div>
</div>

<div class="container">
    {% for item in object_list %}
        {% if User.username == item.author %}
        <div class="card">
            <h5 class="card-header">{{item.title}}</h5>
            <div class="card-body">
                <h5 class="card-title">投稿者:<a href="{% url 'accounts:profile' item.author %}">{{item.author}}</a></h5>
                <h5 class="card-title">{{item.content}}</h5>
                <h5 class="card-title">教科:{{item.category}}</h5>
                <h5 class="card-title"><a href="{{ item.images.url }}">プリントを見る</a></h5>
            </div>
        </div>
        {% endif %}
    {% endfor %}
</div>

<style type="text/css">
* {
    margin: 0;
    padding: 0;
    background-repeat: repeat-y;
}
#profile_page {
    padding-left: 3%;
}
#user_status {
    display: inline-block;
}
.followBtn {
    display: inline-block;
    border: 1.5px solid #ddd;
    padding: 2px 8px;
    font-size: 16.5px;
}
#user_post {
    display: inline-block;
    vertical-align: top;
    margin-left: 70px;
}
.list-t {
    font-size: 1.9rem;
    font-weight: 700;
}
.user-icon {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
    border: 1.5px solid #eee;
}
</style>
{% endblock %}