{% extends 'base.html' %}
{% load static %}
{% block content %}

<a href="{% url 'printapp:list' %}" class="btn btn-primary">戻る</a>

{% if user.is_authenticated %}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="card alert-secondary" style="width: 50rem;">
    <p class="w-50">タイトル:<input type="text" name="title" required class="form-control"></p>
    <br>
    <p class="w-75">内容:<input type="text" rows="3" name="content" required class="form-control"></p>
    <br>
    <p>ファイル(PDF):<input type="file" name="images" required class="form-control w-50"></p>
    <br>
    <p class="w-25">教科:<select name="category" size="1" class="form-control" required>
        <option value="">教科を選択</option>
        <option value="japanese">国語</option>
        <option value="math">数学</option>
        <option value="english">英語</option>
        <option value="chemistry">化学</option>
        <option value="biology">生物</option>
        <option value="physics">物理</option>
        <option value="social_study">現代社会</option>
        <option value="other">その他</option>
    </select></p>
    <input type="hidden" name="author" value="{{ user.id }}">
    <br>
    <p class="w-50"><input type="submit" value="作成する" class="form-control btn btn-primary w-25"></p>
    </div>
</form>

{% else %}
ログインしてください
<a href="{% url 'printapp:secret' %}" class="btn btn-primary" role="button" aria-pressed="true">ログイン</a>
{% endif %}

{% endblock %}