{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
{% if user.is_authenticated %}
<h3><a href="{% url 'accounts:profile' user.get_username %}">{{ user.get_username }}</a>でログイン中</h3>
{% else %}
<p>ログインしていません</p>
{% endif %}
<br>
{% if admin == 'OK' %}
<h4>管理サイト(スタッフ専用)→<a href="{% url 'admin:index' %}" class="btn btn-primary">管理</a></h4>
{% endif %}
<br>
<br>
<a href="{% url 'printapp:logout' %}" class="btn btn-warning">ログアウト</a>
<a href="{% url 'printapp:create' %}" class="btn btn-success">プリントを投稿</a>
<div class="card card-auth my-5 mx-auto">
    <div class="card-body"></div>
        <form action="{% url 'printapp:list' %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <tr><th></th><td>
                <input type="submit" value="検索" class="btn btn-secondary">
            </td></tr>
        </form>
        <br>
        <a href="{% url 'printapp:find' %}" class="btn btn-primary" style="width: 15rem;">キーワードで検索する</a>
    </div>
</div>
<br>
<br>

<div class="container">
    <h3>総数:{{count}}件</h3>
    {% for item in data %}
    <div class="card" style="width: 30rem;">
        <h5 class="card-header">{{item.title}}</h5>
        {% if item.author.username == user.get_username %}
        <h5 class="card-header"><a href="{% url 'printapp:delete' item.id %}" class="btn btn-danger">削除</a></h5>
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">投稿ID:{{item.id}}</h5>
            <h5 class="card-title">投稿者:<a href="{% url 'accounts:profile' item.author %}">{{item.author}}</a></h5>
            <h5 class="card-title">内容:{{item.content}}</h5>
            <h5 class="card-title">教科:{{item.category}}</h5>
            <h5 class="card-title"><a href="{{ item.images.url }}" class="btn btn-outline-primary">プリントを見る</a></h5>
            <h5 class="card-title"><a href="{% url 'printapp:detail' item.id %}" class="btn btn-outline-primary">コメントを見る</a></h5>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock content %}