{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}


<div class="card card-auth my-5 mx-auto">
    <div class="card-body">
        <h5 class="card-title text-center">プリントサイトに入るための秘密のパスワードを入力してください。</h5>
            <form method="POST" class="form-auth">
                {% csrf_token %}
                <div class="form-label-group form_wrap">
                    {% render_field form.secret class='form-control' placeholder='秘密のパスワード' name='secret' %}
                </div>
                <input type="submit" value="OK" class="btn btn-primary">
            </form>
    </div>
</div>

{% endblock content %}